<!-- Left-sidebar -->

<div class="left-bar">
  <div id="left-bar-contents">
    <img class="profile-img" src="/img/hello.svg" alt="" />
    <h3>Hey User</h3>
    <div class="left-bar-select">
      <a href="/users/profile" id="target1" class="left-bar-options">Profile</a>
    </div>
    <div class="left-bar-select">
      <a href="/users/posts" id="target2" class="left-bar-options">Posts</a>
    </div>
    <div class="left-bar-select">
      <a href="/users/create-post" id="target3" class="left-bar-options">
        Create Posts</a
      >
    </div>
    <div class="left-bar-select">
      <a href="/users/find-user" id="target4" class="left-bar-options"
        >Find a user</a
      >
    </div>
    <div class="left-bar-select">
      <a href="/users/all-users" id="target5" class="left-bar-options">
        All users</a
      >
    </div>
    <div class="left-bar-select">
      <a href="/users/chat" id="target6" class="left-bar-options"> Community</a>
    </div>
    <div class="left-bar-select">
      <a href="/users/setting" id="target7" class="left-bar-options">
        settings</a
      >
    </div>
  </div>
</div>
