<!-- Left-sidebar -->

<div class="left-bar">
  <div id="left-bar-contents">
    <span class="circle"></span>
    <h3>Hey User</h3>
    <div class="left-bar-select">
      <a href="/profile" id="target1" class="left-bar-options">Profile</a>
    </div>
    <div class="left-bar-select">
      <a href="/blogposts" id="target2" class="left-bar-options">Blog Post</a>
    </div>
    <div class="left-bar-select">
      <a href="/create-blogpost" id="target3" class="left-bar-options">
        Create Blog Posts</a
      >
    </div>
    <div class="left-bar-select">
      <a href="/find-user" id="target4" class="left-bar-options">Find a user</a>
    </div>
    <div class="left-bar-select">
      <a href="/all-users" id="target5" class="left-bar-options"> All users</a>
    </div>
    <div class="left-bar-select">
      <a href="/chat" id="target6" class="left-bar-options">
        Chat with a user</a
      >
    </div>
    <div class="left-bar-select">
      <a href="/setting" id="target7" class="left-bar-options"> settings</a>
    </div>
  </div>
</div>
