<!-- /Navbar -->
<div class="container real-header">
  <div class="header">
    <button class="menu-button" id="Menu-icon">
      <i class="fas fa-bars"></i>
    </button>
    <button class="menu-button" id="home-button">
      <a href="/profile">Home</a>
    </button>
    <a href="/"
      ><button class="menu-button" id="logout-button">
        Logout
      </button></a
    >
  </div>
</div>
