<body>
  <!-- Header -->
  <% include partials/navbar %>
  <!-- Left bar -->
  <div class="container main-div">
    <% include partials/left-sidebar %>

    <!-- Main content -->
    <main>
      <div class="main-container">
        <p id="user-posts" class="spacer">All members</p>

        <!-- Posts -->
        <div class="post-container">
          <div class="post-details">
            <div id="post-header-div">
              <div id="post-header-subdiv1">
                <img class="post-img para-spacer" src="/img/hello.svg" alt="" />
              </div>
              <div id="post-header-subdiv2">
                <p id="post-detail-name"><strong>Maize Decoy</strong></p>
                <p id="post-detail-about">
                  <small>
                    Front-End-Developer | Web designer | Graphics
                    Designer</small
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="posts">
            <button class="short-bio-btn">Short Bio</button>
            <p id="single-posts">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla
              iste nisi explicabo cupiditate rem modi accusamus vitae omnis
              magnam temporibus. Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Nulla iste nisi explicabo cupiditate rem modi
              accusamus vitae omnis magnam temporibus!
            </p>
            <hr />
            <div class="chat-profile-buttons">
              <div class="reaction-buttons">
                <button class="chat-button">
                  <i class="fas fa-comments"></i>
                  Chat
                </button>

                <button class="check-profile-button">
                  <i class="fas fa-user-circle"></i>
                  Profile
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="post-container">
          <div class="post-details">
            <div id="post-header-div">
              <div id="post-header-subdiv1">
                <img class="post-img para-spacer" src="/img/hello.svg" alt="" />
              </div>
              <div id="post-header-subdiv2">
                <p id="post-detail-name"><strong>Maize Decoy</strong></p>
                <p id="post-detail-about">
                  <small>
                    Front-End-Developer | Web designer | Graphics
                    Designer</small
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="posts">
            <button class="short-bio-btn">Short Bio</button>
            <p id="single-posts">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla
              iste nisi explicabo cupiditate rem modi accusamus vitae omnis
              magnam temporibus. Lorem, ipsum dolor sit amet consectetur
              adipisicing elit. Nulla iste nisi explicabo cupiditate rem modi
              accusamus vitae omnis magnam temporibus!
            </p>
            <hr />
            <div class="chat-profile-buttons">
              <div class="reaction-buttons">
                <button class="chat-button">
                  <i class="fas fa-comments"></i>
                  Chat
                </button>

                <button class="check-profile-button">
                  <i class="fas fa-user-circle"></i>
                  Profile
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- Post ends -->
      </div>
    </main>
  </div>
</body>
