
<body>
        <!-- Header -->
        <% include partials/navbar %>
        <!-- Left bar -->
        <div class="container main-div">
          <% include partials/left-sidebar %>
     
             <!-- Main content -->
             <main>
                 <div class="main-container">
     
                     <!-- Chatters -->
                     <div id="chats-names">
                         <div id="search-users-for-chat" class="spacer">
                             <div class="search-div">
                                 <input class="input-round" type="text" name="login-username" id="login-username"
                                     placeholder="User name"> <i class="fas fa-search"></i>
                             </div>
     
     
                             <div class="spacer">
                                 <button class="btn-round btn-lg lg-btn-txt"><img class="chat-img-small" src="img/img3.jpg"
                                         alt="">Alice WonderLand</button>
     
                             </div>
                             <div class="spacer">
                                 <button class="btn-round btn-lg lg-btn-txt"><img class="chat-img-small" src="img/img3.jpg"
                                         alt="">Alice WonderLand</button>
     
                             </div>
                             <div class="spacer">
                                 <button class="btn-round btn-lg lg-btn-txt"><img class="chat-img-small" src="img/img3.jpg"
                                         alt="">Alice WonderLand</button>
     
                             </div>
                             <div class="spacer">
                                 <button class="btn-round btn-lg lg-btn-txt"><img class="chat-img-small" src="img/img3.jpg"
                                         alt="">Alice WonderLand</button>
     
                             </div>
                             <div class="spacer">
                                 <button class="btn-round btn-lg lg-btn-txt"><img class="chat-img-small" src="img/img3.jpg"
                                         alt="">Alice WonderLand</button>
     
                             </div>
                             <div class="spacer">
                                 <button class="btn-round btn-lg lg-btn-txt"><img class="chat-img-small" src="img/img3.jpg"
                                         alt="">Alice WonderLand</button>
     
                             </div>
                             <div class="spacer">
                                 <button class="btn-round btn-lg lg-btn-txt"><img class="chat-img-small" src="img/img3.jpg"
                                         alt="">Alice WonderLand</button>
     
                             </div>
     
                         </div>
                     </div>
     
                     <!-- Chat Arena -->
                     <div id="chat-box">
                         <div id="chat-header">
                             <img class="chat-img-small chat-box-container" src="img/img3.jpg" alt="">
                             <p>Alice in WonderLand</p>
     
     
                         </div>
                         <div class="chat-box-container">
                             <div id="my-chat">
                                 <div class="message my-message">
                                     <p>
                                         Lorem, ipsum dolor sit amet consectetur
                                     </p>
                                     <small class="chat-time-stamp">11:02am</small>
                                 </div>
                                 <div class="message friend-message">
                                     <p>
                                         Lorem, ipsum dolor sit amet consectetur Lorem, ipsum dolor sit amet consectetur
                                         Lorem, ipsum dolor sit amet consectetur
                                     </p>
                                     <small class="chat-time-stamp">11:02am</small>
                                 </div>
     
                                 <div class="message friend-message">
                                     <p>
                                         Lorem, ipsum dolor sit amet consectetur Lorem, ipsum dolor sit amet consectetur
                                         Lorem, ipsum dolor sit amet consectetur
                                     </p>
                                     <small class="chat-time-stamp">11:02am</small>
                                 </div>
                                 <div class="message friend-message">
                                     <p>
                                         Lorem, ipsum dolor sit amet consectetur Lorem, ipsum dolor sit amet consectetur
                                         Lorem, ipsum dolor sit amet consectetur
                                     </p>
                                     <small class="chat-time-stamp">11:02am</small>
                                 </div>
                                 <div class="message my-message">
                                     <p>
                                         Lorem, ipsum dolor sit amet consectetur
                                     </p>
                                     <small class="chat-time-stamp">11:02am</small>
                                 </div>
                                 <div class="message my-message">
                                     <p>
                                         Lorem, ipsum dolor sit amet consectetur
                                     </p>
                                     <small class="chat-time-stamp">11:02am</small>
                                 </div>
                                 <div class="message my-message">
                                     <p>
                                         Lorem, ipsum dolor sit amet consectetur
                                     </p>
                                     <small class="chat-time-stamp">11:02am</small>
                                 </div>
                                 <div class="message friend-message">
                                     <p>
                                         Lorem, ipsum dolor sit amet consectetur Lorem, ipsum dolor sit amet consectetur
                                         Lorem, ipsum dolor sit amet consectetur
                                     </p>
                                     <small class="chat-time-stamp">11:02am</small>
                                 </div>
                             </div>
                         </div>
     
                         <div class="chat-footer">
                             <textarea name="chat-area" id="message-footer" cols="10" rows="10"></textarea>
                             <i class="fas fa-share-square"></i>
                         </div>
                     </div>
     
     
     
     
                 </div>
             </main>
         </div>
     
     </body>
     