<body>
  <div class="page-wide">
    <div class="login-container">
      <!-- Left side of the Page -->
      <div class="left-content">
        <!-- Login -->
        <div id="left-login-inner">
          <% include partials/msg %>
          <div class="spacer">
            <h2>Welcome back!</h2>
          </div>

          <div class="small-spacer">
            <div class="spacer">
              <h4>Enter your Login Details</h4>
            </div>
            <form action="/login" method="POST">
              <div class="small-spacer">
                <input class="input-round-login" type="email" name="signup_email" id="signup_email"
                  placeholder="Email Adress" />
              </div>
              <div class="small-spacer">
                <input class="input-round-login" type="password" name="signup_password" id="signup_password"
                  placeholder=" Password" />
                <div id="rem-password">
                  <input type="checkbox" id="remember-password" />
                  <label for="remember-password">Remember password</label>
                </div>
              </div>
          </div>

          <div class="spacer">
            <button type="submit" class="btn btn-round btn-lg lg-btn-txt">
              Login
            </button>
          </div>
          </form>

          <div class="small-spacer">
            <p>Haven't created an account?</p>
          </div>

          <p>
            <a href="/register" id="create-account"> Create an account now</a>
          </p>
        </div>
      </div>
      <!-- Right side of login Page -->
      <div class="right-content">
        <img src="/img/connect.svg" alt="" />
      </div>
    </div>
  </div>
</body>