<body>
  <div class="page-wide">
    <div class="login-container">
      <!-- Left side of the Page -->
      <div class="left-content">
        <!-- Login -->
        <div id="left-login-inner">
          <div class="spacer">
            <h2>Welcome back to Devconnect</h2>
          </div>

          <div class="small-spacer">
            <div class="spacer">
              <h4>Enter your Login Details</h4>
            </div>

            <div class="small-spacer">
              <input
                class="input-round-login"
                type="email"
                name="login-email"
                id="login-email"
                placeholder="Email Adress"
              />
            </div>
            <div class="small-spacer">
              <input
                class="input-round-login"
                type="password"
                name="login-password"
                id="login-password"
                placeholder="Password"
              />
              <div id="rem-password">
                <input type="checkbox" id="remember-password" />
                <label for="remember-password">Remember password</label>
              </div>
            </div>
          </div>

          <div class="spacer">
            <a href="/profile"
              ><button class="btn btn-round btn-lg lg-btn-txt">
                Login
              </button></a
            >
          </div>

          <div class="small-spacer">
            <p>Haven't created an account on Devconnect?</p>
          </div>

          <p>
            <a href="/register" id="create-account"> Create an account now</a>
          </p>
        </div>
      </div>
      <!-- Right side of login Page -->
      <div class="right-content">
        <img src="img/connect.svg" alt="" />
      </div>
    </div>
  </div>

  <footer></footer>
  <script src="js/login.js"></script>
</body>
