<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Uconnect</title>
    <link rel="stylesheet" href="font/Roboto/Roboto-Regular.ttf" />
    <link rel="stylesheet" href="css/main.css" />
  </head>

  <body>
    <div class="page-wide">
      <div class="login-container">
        <!-- Left side of the Page -->
        <div class="left-content">
          <!-- Sign Up -->
          <div id="left-signup-inner">
            <div class="spacer">
              <h2>Welcome to Uconnect.</h2>
            </div>

            <div class="spacer">
              <div class="spacer">
                <h4>Create an Account Now</h4>
              </div>

              <div class="spacer">
                <input
                  class="input-round test"
                  type="text"
                  name="signup-firstname"
                  id="signup-firstname"
                  placeholder="First Name"
                />
              </div>
              <div class="spacer">
                <input
                  class="input-round"
                  type="text"
                  name="signup-lastname"
                  id="signup-lastname"
                  placeholder="Last Name"
                />
              </div>
              <div class="spacer">
                <input
                  class="input-round"
                  type="password"
                  name="signup-password"
                  id="signup-password"
                  placeholder="Password"
                />
              </div>
              <div class="spacer">
                <input
                  class="input-round"
                  type="password"
                  name="signup-password"
                  id="signup-password"
                  placeholder="Repeat Password"
                />
              </div>
            </div>

            <div class="spacer">
              <a href="/"
                ><button class="btn btn-round btn-lg lg-btn-txt">
                  SIGN UP
                </button></a
              >
            </div>

            <div class="small-spacer">
              <p>Already have an account?</p>
            </div>

            <p><a href="/" id="login-account"> Login now</a></p>
          </div>
        </div>
        <!-- Right side of login Page -->
        <div class="right-content">
          <img src="img/connect.svg" alt="" />
        </div>
      </div>
    </div>

    <footer></footer>
    <script src="js/login.js"></script>
  </body>
</html>
