<body>
  <div class="page-wide">
    <div class="login-container">
      <!-- Left side of the Page -->
      <div class="left-content">
        <!-- Sign Up -->
        <div id="left-signup-inner">
          <div class="small-spacer">
            <h2>Welcome to Devconnect</h2>
          </div>

          <div class="login-spacer">
            <div class="small-spacer">
              <h4>Create an Account Now</h4>
            </div>

            <div class="login-spacer">
              <input
                class="input-round-login test"
                type="text"
                name="signup-firstname"
                id="signup-firstname"
                placeholder="First Name"
              />
            </div>
            <div class="login-spacer">
              <!-- <input
                class="input-round-login"
                type="text"
                name="signup-lastname"
                id="signup-lastname"
                placeholder="Last Name"
              /> -->
              <input
                class="input-round-login"
                type="email"
                name="signup-email"
                id="signup-email"
                placeholder="Email adress"
              />
            </div>
            <div class="login-spacer">
              <input
                class="input-round-login"
                type="password"
                name="signup-password"
                id="signup-password"
                placeholder="Password"
              />
            </div>
            <div class="login-spacer">
              <input
                class="input-round-login"
                type="password"
                name="signup-password"
                id="signup-password"
                placeholder="Repeat Password"
              />
            </div>
          </div>

          <div class="spacer">
            <a href="/"
              ><button class="btn btn-round btn-lg lg-btn-txt">
                SIGN UP
              </button></a
            >
          </div>

          <div class="small-spacer">
            <p>Already have an account?</p>
          </div>

          <p><a href="/" id="login-account"> Login now</a></p>
        </div>
      </div>
      <!-- Right side of login Page -->
      <div class="right-content">
        <img src="img/connect.svg" alt="" />
      </div>
    </div>
  </div>

  <footer></footer>
  <script src="js/login.js"></script>
</body>
